<p>
    <mat-toolbar>
     <button [routerLink]="'/home'" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    <span>My restoraunt</span>
    <button mat-button [routerLink]="'/meals'"><mat-icon>fastfood</mat-icon> Meals</button>
    <div *ngIf="role == 'ADMIN'">
      <button mat-button [routerLink]="'/verify-deliverers'">Verify deliverers</button>
    </div>
    <span class="example-spacer"></span>
    <div *ngIf="role == 'CUSTOMER'">
      <button mat-button [routerLink]="'/apply'">Apply for deliverer</button>
      <button mat-button [routerLink]="'/current-orders'">Current orders</button>
      <button mat-button [routerLink]="'/previous-orders'">Previous orders</button>
      <button mat-button [routerLink]="'/basket'"><mat-icon>shopping_basket</mat-icon>Basket</button>
    </div>
    <div *ngIf="role == 'ADMIN'">
      <button mat-button [routerLink]="'/all-orders'">All orders</button>
    </div>
    <div *ngIf="role == 'DELIVERER'">
      <button mat-button [routerLink]="'/current-orders'">Current orders</button>
      <button mat-button [routerLink]="'/previous-orders'">Previous orders</button>
      <button mat-button [routerLink]="'/pending-orders'">Pending orders</button>
    </div>
    <button mat-icon-button class="example-icon" [routerLink]="'/user'" aria-label="Example icon-button with share icon">
     <mat-icon>face</mat-icon>
   </button>
   <button mat-button (click)="onLogout()" style="color: black; align-items: flex-end;">
    <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
  </p>