<div class="add-meal-card">
    <form [formGroup]="addMealForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" class="add-meal-field ">
            <mat-label for="name">Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <!--mat-form-field appearance="fill" class="add-meal-field ">
            <mat-label for="ingredients">Ingredients</mat-label>
            <input matInput formControlName="ingredients">
        </mat-form-field-->
        <h3>Ingredients:</h3>
        <div *ngFor="let ingredient of ingredients; let i = index" class="add-ingredient">
            <h2>{{ingredient}}</h2>
            <mat-icon (click)="deleteIngredient(i)">delete</mat-icon>
        </div>
        <div class="add-ingredient">
            <mat-form-field appearance="fill" class="add-meal-field">
                <mat-label for="ingredient">Ingredient</mat-label>
                <input matInput type="text" formControlName="ingredient" [(ngModel)]="currentIngredient">
            </mat-form-field>
            <button mat-raised-button type="button" (click)="addIngredient()">Add</button>
        </div>
        <mat-form-field appearance="fill" class="add-meal-field ">
            <mat-label for="price">Price</mat-label>
            <input matInput type="number" formControlName="price">
        </mat-form-field>
        <div class="center" class="add-meal-field " style="margin-top: 1em;">
            <button mat-raised-button [disabled]="!addMealForm.valid" style="width: 100%">Save</button>
        </div>
    </form>
</div>
